@charset "UTF-8";

body{
position: relative;
margin: 0;
background: #060d17;
color: #d5d5d5;
}

div{
    max-width: 1752px;
    padding-left: 64px;
    padding-right: 64px;
  }
  img{
height: 18px;
width: 107px;
margin-top: 19px;
  }