@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
  padding-top: 2px;
}

body{
    background-color: rgb(88, 46, 128);
  }

  span.tokyo{
display: flex;
justify-content: center;

  }

  video.tokyo2{
    width: 100%;
    top: 400px;
    left: 0;
    z-index: 100;
    min-height: 100%;
  }

 