@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
  padding-top: 2px;

}

  


body{
  background-color: rgb(88, 46, 128);
  height: 1024px;
  width: 800px;
}

header
    {
        display:         flex;
        justify-content: center;
        
            }

  
img{
border-radius: 10px 10px 10px 10px;
 max-width: 100%;
 max-height: 100%;
 width: 150px; /*largura*/
 height: 200px; /*altura*/
 filter: brightness(20%);
 
  
}

img:hover{
  filter: brightness(100%);
  width: 380px;
  height: 460px;
  transition: 2s;
 
  
  }
  
  img.serie04:hover:after{
    width: 256px;
    height: 275px;
    transition:step-end 2s;
    
  }

  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 15px;
     padding-left: 15px;
     text-align: center;
  }

  
  div.serie01 {
   
    border-radius: 10px 10px 10px 10px;
    }
    
    div.serie02{
      
      border-radius: 10px 10px 10px 10px;
      }
      
      div.serie03{
       
        border-radius: 10px 10px 10px 10px;
        }
    
        div.serie04 {
          border-radius: 10px 10px 10px 10px;
          }

          div.serie05 {
            border-radius: 10px 10px 10px 10px;
          }

div.serie01 > h1{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 15px;
padding-right: 15px;

}

div.serie02 > h1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  
  }
  
  div.serie03 > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    
    }

    div.serie04 > a> h1.tpn{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(255, 255, 255);
      font-size: 15px;
       padding-left: 15px;
       text-align: center;
      }

      a.netflix {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: white;
        font-size: 8px;
      }

span.abc{
  margin: auto;
  width: 100px;
  height: 100px;
  
}
      