@charset "UTF-8";

*{
  margin: 0px;
}
body{
  position: relative;
margin: 0;
background: #060d17;
color: #d5d5d5;
}

img{
  
}
header{
  background-color: white;
  height: 50px;
  width: 50px;
}

main{
  background-color: blue;
  height: 330px;
  width: 330px;
}